name: automerge-dependencies
on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]
permissions:
  contents: write
  pull-requests: write
jobs:
  enable-automerge:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.number }}
          merge-method: squash
